.content-container {
    width: 70%;
    float: right;
    .news {
        background-color: green;
        width: 40%;
        float: right;
    }
    .content {
        background-color: white;
        width: 58%;
        padding: 0;
        margin-top: 7px;
    }
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin: 0 auto;
}

.grid-figure {
    flex-basis: calc(33.333% - 4rem);
    flex-grow: 1;
    flex-shrink: 0;
    padding: 2rem;
    border: 1px solid lightgray;
    background: white;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.03);
    position: relative;

    width: 86%;
    margin: 0px;
    width: 86%;
    margin-bottom: 20px;
    border-radius: 5px;

    img {
        width: 100%;
    }
}
