.page-bar {
    height: 43px;
    background-color: blue;
    ._2md {
        background-image: url(https://www.facebook.com/rsrc.php/v3/y7/r/dTQOHZm7Z-3.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 0 0;
        display: block;
        height: 24px;
        outline: none;
        overflow: hidden;
        text-indent: -999px;
        white-space: nowrap;
        width: 24px;
    }
}
